@media screen and (max-width: 1140px) {
  div.mnWrap main {
    width: calc(100% - 40px);
    min-width: 900px;
  }
  div.mnWrap main header .texts .shortcut .ovgrid {
    width: calc((100vw - 900px) / 2 + 100%);
  }
  div.mnWrap main section .imgGroup {
    width: calc((100vw - 900px) / 2 + 100%);
  }
  div.ct1 section .ovgrid {
    width: calc((100vw - 900px) / 2 + 100%);
  }
  div.ct2 section {
    display: block;
  }
  div.ct2 section header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(100% - 40px);
    margin-bottom: 20px;
  }
  div.ct2 section header h3:first-of-type {
    display: none;
  }
  div.ct2 section header h3:last-of-type {
    display: block;
    font-size: 60px;
  }
  div.ct2 section header .btns {
    margin: 0;
  }
  div.ct2 section .artview {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  div.ct3 header::before {
    width: calc((100vw - 900px) / 2 + 100%);
    height: 300px;
  }
  div.ct5 > section .imgInfo {
    min-width: 260px;
  }
  div.ct5 > section .imgInfo .btnGroup .more {
    padding: 0 15px;
  }
}

@media screen and (max-width: 930px) {
  div.mnWrap main {
    width: calc(100% - 40px);
    min-width: 700px;
  }
  div.mnWrap main header .texts h2 {
    font-size: 64px;
  }
  div.mnWrap main header .texts .shortcut {
    display: none;
  }
  div.mnWrap main section .imgGroup {
    width: calc((100vw - 700px) / 2 + 100%);
  }
  div.booking {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 100px);
    margin: 0 auto;
  }
  div.ct1 section .ovgrid {
    width: calc((100vw - 700px) / 2 + 100%);
  }
  div.ct3 header::before {
    width: calc((100vw - 700px) / 2 + 100%);
    height: 330px;
  }
  div.ct4 section .artgroup article h4 {
    font-size: 22px;
  }
}

@media screen and (max-width: 740px) {
  div.mnWrap main {
    width: calc(100% - 40px);
    min-width: 500px;
  }
  div.mnWrap main header .texts {
    left: -30px;
  }
  div.mnWrap main header .texts h5, div.mnWrap main header .texts h2, div.mnWrap main header .texts p {
    width: 370px;
  }
  div.mnWrap main header .texts .pagenation {
    position: relative;
    left: 80px;
  }
  div.mnWrap main header .texts .shortcut {
    display: none;
  }
  div.mnWrap main section .imgGroup {
    width: calc((100vw - 500px) / 2 + 100%);
  }
  div.mnWrap main section .imgGroup .image {
    background-color: rgba(255, 255, 255, 0.15);
    background-blend-mode: color;
  }
  div.ct1 section .ovgrid {
    width: calc((100vw - 500px) / 2 + 100%);
  }
  div.ct2 section header h3:last-of-type {
    display: block;
  }
  div.ct2 section header .btns {
    margin: 0;
  }
  div.ct2 section .artview {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  div.ct2 section .artview .artgroup {
    width: 100%;
  }
  div.ct2 section .artview .artgroup article {
    width: calc(100% / 7);
  }
  div.ct2 section .artview .artgroup article .texts h4 {
    font-size: 30px;
  }
  div.ct3 header::before {
    width: calc((100vw - 500px) / 2 + 100%);
    height: 440px;
  }
  div.ct4 section {
    display: block;
  }
  div.ct4 section .imgView {
    width: calc(100% - 20px);
    height: 200px;
  }
  div.ct4 section .artgroup {
    width: calc(100% - 20px);
    margin-top: 20px;
  }
  div.ct4 section .artgroup article {
    height: 120px;
  }
}

@media screen and (max-width: 590px) {
  div.mnWrap main {
    width: calc(100% - 40px);
    min-width: 400px;
  }
  div.mnWrap main section .imgGroup {
    width: calc((100vw - 400px) / 2 + 100%);
  }
  div.ct1 section .ovgrid {
    width: calc((100vw - 400px) / + 100%);
  }
  div.ct3 header::before {
    width: calc((100vw - 400px) / 2 + 100%);
    height: 480px;
  }
  div.ct5 > section > .imgInfo {
    width: 20%;
    min-width: 220px;
    padding: 0 10px 0 20px;
  }
  div.ct5 > section > .imgInfo .textGroup .texts h4 {
    font-size: 14px;
  }
  div.ct5 > section > .imgInfo .textGroup .texts h4 span {
    font-size: 18px;
  }
  div.ct5 > section > .imgInfo .textGroup .texts p {
    font-size: 14px;
  }
  div.ct5 > section > .imgInfo .btnGroup .more {
    padding: 0 10px;
  }
  div.ct5 > section > .imgWrap {
    width: 80%;
  }
  div.ct5 > section > .imgWrap .ovgrid {
    width: calc((100vw - 400px) / 2 + 100%);
  }
}

@media screen and (max-width: 479px) {
  div.mnWrap main {
    width: calc(100% - 40px);
    min-width: 375px;
  }
  div.mnWrap main section .imgGroup {
    width: calc((100vw - 375px) / 2 + 100%);
  }
  div.ct1 section .ovgrid {
    width: calc((100vw - 375px) / + 100%);
  }
  div.ct2 section header {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  div.ct2 section header .btns {
    position: relative;
    left: -80px;
  }
  div.ct2 section .artview {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  div.ct2 section .artview .artgroup {
    width: 100%;
  }
  div.ct2 section .artview .artgroup article {
    width: calc(100% / 5);
  }
  div.ct2 section .artview .artgroup article .topText h6 {
    font-size: 12px;
  }
  div.ct2 section .artview .artgroup article .texts h4 {
    font-size: 22px;
  }
  div.ct3 header::before {
    width: calc((100vw - 375px) / 2 + 100%);
    height: 480px;
  }
  div.ct5 > section > .imgInfo {
    width: 20%;
    max-width: 340px;
  }
}
