div.offers {
  padding-top: 0;
}

div.offers section.filter {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  margin-top: 20px;
  border-radius: 30px;
  position: relative;
}

div.offers section.filter .renew {
  position: absolute;
  top: 35px;
  right: 40px;
  color: #707070;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

div.offers section.filter .renew:hover {
  margin-right: 10px;
}

div.offers section.filter h4 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 20px;
  line-height: 20px;
}

div.offers section.filter ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

div.offers section.filter ul li {
  margin-right: 20px;
  line-height: 40px;
  height: 40px;
}

div.offers section.filter ul li input {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 0 20px;
}

div.offers section.filter ul li.btns > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

div.offers section.filter ul li.btns > button i {
  font-size: 18px;
  line-height: 20px;
}

div.offers section.filter ul li.btns > button:hover {
  background: #0065AF;
  border: 1px solid transparent;
}

div.offers section.filter .btns {
  padding-bottom: 20px;
}

div.offers section.filter .btns button {
  border: solid 1px transparent;
  margin: 0 10px 10px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

div.offers section.filter .btns button:hover {
  border: solid 1px #d1d1d1;
  background-color: #d1d1d1;
  color: #fff;
}

div.offers section.filter .search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

div.offers section.filter .search button {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

div.offers section.filter .search button:hover {
  background: #0065AF;
  border: 1px solid transparent;
}

div.offers section.list .tabMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.offers section.list .tabMenu h4 {
  width: 25%;
  height: 60px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #707070;
  line-height: 60px;
  text-align: center;
  border-radius: 30px 30px 0 0;
  border: 1px solid #EFEFEF;
  cursor: pointer;
}

div.offers section.list .tabMenu h4.current {
  background-color: #000;
  color: #fff;
  border: none;
}

div.offers section.list .tabCont {
  border-top: 2px solid #000;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 30px 30px;
}

div.offers section.list .tabCont section {
  display: none;
  margin: 0 auto;
  width: calc(100% - 110px);
}

div.offers section.list .tabCont section .arrange {
  padding: 30px 0 10px 0;
  border-bottom: 1px solid #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

div.offers section.list .tabCont section .arrange label {
  line-height: 30px;
  height: 30px;
  font-weight: 400;
}

div.offers section.list .tabCont section .arrange select {
  margin-left: 20px;
  height: 30px;
  padding: 0 8px;
  border-radius: 20px;
}

div.offers section.list .tabCont section article {
  padding: 30px;
  margin: 20px 0;
  -webkit-box-shadow: 0 5px 10px rgba(80, 36, 36, 0.1);
          box-shadow: 0 5px 10px rgba(80, 36, 36, 0.1);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.offers section.list .tabCont section article .image {
  margin-right: 40px;
}

div.offers section.list .tabCont section article .image img {
  display: block;
  width: 220px;
}

div.offers section.list .tabCont section article .texts {
  width: 100%;
}

div.offers section.list .tabCont section article .texts h5 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

div.offers section.list .tabCont section article .texts h4 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

div.offers section.list .tabCont section article .texts h6 {
  font-family: 'Noto Sans KR', sans-serif;
  color: #707070;
  line-height: 20px;
  padding: 0 0 14px 0;
  border-bottom: 1px solid #f7f7f7;
}

div.offers section.list .tabCont section article .texts p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  color: #000;
  font-weight: 400;
  padding: 15px 0 10px 0;
}

div.offers section.list .tabCont section article .texts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.offers section.list .tabCont section article .texts ul li.price {
  font-family: 'Noto San KR', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 40px;
  color: #000;
}

div.offers section.list .tabCont section article .texts ul li label {
  padding-right: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
}

div.offers section.list .tabCont section article .texts ul li button {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 0;
}

div.offers section.list .tabCont section article .texts ul li button:hover {
  background-color: #0065AF;
}

div.offers section.list .tabCont section article .allCust h5 {
  color: #AF6C00;
}

div.offers section.list .tabCont section article .allCust ul li label {
  color: #AF6C00;
}

div.offers section.list .tabCont section article .rOnly h5 {
  color: #0065AF;
}

div.offers section.list .tabCont section article .rOnly ul li label {
  color: #0065AF;
}

div.offers section.list .tabCont section .pageNum {
  padding: 20px 0 40px 0;
}

div.offers section.list .tabCont section .pageNum ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.offers section.list .tabCont section .pageNum ul li {
  font-family: 'Noto Sans KR',sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #B5B5B5;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}

div.offers section.list .tabCont section .pageNum ul li.current {
  color: #000;
}

div.offers section.list .tabCont section .pageNum ul li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 860px) {
  div.offers section.filter {
    padding: 30px 30px;
  }
  div.offers section.filter .renew {
    top: 30px;
    right: 30px;
  }
  div.offers section.list .tabCont section {
    width: calc(100% - 60px);
  }
  div.offers section.list .tabCont section article {
    padding: 20px;
  }
  div.offers section.list .tabCont section article div.image {
    margin-right: 30px;
  }
  div.offers section.list .tabCont section article div.texts h6 {
    padding-bottom: 9px;
  }
  div.offers section.list .tabCont section article div.texts p {
    padding-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  div.offers section.filter {
    padding: 30px 20px;
  }
  div.offers .renew {
    top: 20px;
    right: 20px;
  }
  div.offers section.list .tabCont section {
    width: calc(100% - 20px);
  }
  div.offers section.list .tabCont section article {
    padding: 20px;
  }
  div.offers section.list .tabCont section article div.image {
    margin-right: 40px;
  }
  div.offers section.list .tabCont section article div.texts h6 {
    padding-bottom: 9px;
  }
  div.offers section.list .tabCont section article div.texts p {
    padding-top: 10px;
  }
  div.offers section.list .tabCont section article div.texts > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.offers section.list .tabCont section article div.texts > ul li.price {
    line-height: 30px;
  }
  div.offers section.list .tabCont section article div.texts > ul li button {
    height: 30px;
    line-height: 20px;
    padding: 5px 15px;
    margin-right: 0;
  }
}

@media screen and (max-width: 690px) {
  div.offers section.filter ul li input {
    width: 140px;
    height: 40px;
  }
  div.offers section.list .tabCont section article {
    padding: 10px;
  }
  div.offers section.list .tabCont section article div.image {
    padding: 23px 0;
  }
  div.offers section.list .tabCont section article div.texts > ul {
    display: block;
  }
  div.offers section.list .tabCont section article div.texts > ul li.price {
    line-height: 30px;
  }
}

@media screen and (max-width: 590px) {
  div.offers section.filter ul li {
    display: block;
    margin-right: 10px;
  }
  div.offers section.filter ul li input {
    width: 140px;
    height: 40px;
    padding: 0 5px;
  }
  div.offers section.filter .btns button {
    padding: 5px 15px;
    margin-right: 10px;
  }
  div.offers section.filter .search button {
    padding: 0 20px;
    font-size: 14px;
    line-height: 30px;
  }
  div.offers section.list .tabMenu h4 {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px 20px 0 0;
  }
  div.offers section.list .tabCont section > article {
    display: block;
    padding: 20px;
  }
  div.offers section.list .tabCont section > article div.image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
  }
  div.offers section.list .tabCont section > article div.image img {
    width: 100%;
  }
  div.offers section.list .tabCont section > article div.texts {
    width: auto;
  }
  div.offers section.list .tabCont section > article div.texts > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  div.offers section.list .tabCont section > article div.texts > ul li.price {
    line-height: 30px;
  }
  div.offers section.list .tabCont section > article div.texts > ul li label {
    padding-right: 10px;
  }
}

@media screen and (max-width: 420px) {
  div.offers section.filter > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.offers section.filter > ul li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.offers section.filter > ul li input {
    width: 100%;
  }
  div.offers section.filter > ul li:last-child {
    margin-top: 10px;
  }
  div.offers section.list .tabCont section > article div.texts > ul {
    display: block;
  }
  div.offers section.list .tabCont section > article div.texts > ul li.price {
    line-height: 30px;
  }
  div.offers section.list .tabCont section > article div.texts > ul li label {
    padding-right: 10px;
  }
}
