
div.mnWrap{
    background-color: rgb(255, 254, 254);
    overflow: hidden; //추가함

    main{
        width: calc(100% - 40px);
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        header{
            width: 50%;
            height: 100vh;
            display: flex;
            align-items: center;
            padding-top: 80px;
            .texts{
                width: 100%;
                height: 400px;
                position: relative;
                z-index: 10;
                margin-bottom: 60px;
                & .text{
                    display: none;
                }
                & > .currentTxt{
                    display: block;
                }
                    h5{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 40px;
                        color: rgba(0,0,0,0.8);
                        text-align: right;
                    }
                    h2{
                        font-family: 'Noto Serif KR',serif;
                        font-weight: 700;
                        font-size: 72px;
                        line-height: 80px;
                        color: rgba(0,0,0,0.8);
                        text-align: right;
                    }
                    p{
                        height: auto;
                        margin-top: 40px;
                        text-align: right;
                        color: rgba(0,0,0,0.9);
                    }
                .pagenation{
                    display: flex;
                    align-items: center;
                    margin-top: 50px;
                    justify-content: flex-end;
                    span{
                        width: 10px; height: 10px;
                        background-color: #000;
                        margin: 0 4px;
                        border-radius: 20px;
                        box-shadow: 1px 1px 3px rgba(255,255,255,0.3);
                        &.clicked{
                            width: 30px; height: 10px;
                            background-color: #0065AF;
                            box-shadow: 1px 1px 3px rgba(255,255,255,0.3);
                        }
                    }
                }
                .shortcut{
                    position: fixed;
                    bottom: 100px;
                    width: 850px; 
                    margin-top: 40px;
                    direction: rtl;
                    .ovgrid{
                        width: calc((100vw - 1080px) / 2 + 100%);
                        min-width: 100%;
                        height: 80px;
                        background-color: #fff;
                        border-radius: 0 40px 40px 0;
                        box-shadow: 0 5px 10px rgba(0,0,0,0.05);
                    }
                    .menu{
                        height: 80px;
                        margin-top: -80px;
                        padding: 20px;
                        display: flex;
                        justify-content: space-evenly;
                        flex-wrap: nowrap;
                        ul{
                            display: none;
                            display: flex;
                            margin-right: 10px;
                            li{
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 40px;
                                color: #000;
                                display: flex;
                                justify-content: center;
                                & > ul{
                                    display: flex;
                                    flex-wrap: wrap;
                                    margin: 0;
                                    & > li{
                                        line-height: 20px;
                                        &:first-child{
                                            margin-bottom: 2px;
                                        }
                                        span{
                                            color: #707070;
                                            font-weight: 300;
                                            font-size: 12px;
                                        }
                                        input[type=date]{
                                            width: 120px;
                                            border: none;
                                            color: #707070;
                                        }
                                        input[type=number]{
                                            width: 40px;
                                            border: none;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                            .searchIcon{
                                width: 50px; height: 40px;
                                background-image: url(../img/search.icon.svg);
                                background-position: center center;
                                background-repeat: no-repeat;
                            }
                            .searchIcon:hover{
                                transition: all 0.3s;
                                background-image: url(../img/search.hover.icon.svg);
                            }
                        }
                        
                        .btn{
                            width: 43px; height: 40px;
                            background-color: #000;
                            border-radius: 40px;
                            background-image: url('../img/btClose.svg');
                            background-repeat: no-repeat;
                            background-position: center center;
                            cursor: pointer;
                        }
                        .btnOpen{
                            background-image: url('../img/btOpen.svg');
                        }
                        .btn:hover{
                            transition: all 0.3s;
                            background-color: #0065AF;
                        }
                    }
                }
            }
        }
        section{
            width: calc(55% + 40px);
            height: 100vh;
            margin-left: -40px;
            .imgGroup{
                width: calc((100vw - 1080px) / 2 + 100%);
                min-width: 100%;
                height: 100%;
                position: relative;
                .image{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center; align-items: center;
                    font-size: 120px;
                }
                @for $i from 1 through 4 {
                    .i#{$i}{
                        background-image: url('../img/index.main.img0#{$i}.jpg');
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
}
// mnWrap

div.booking{
    position: relative;
    top: -120px;
    display: none;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    border-radius: 30px;
    margin: 0 300px;
    &>div{
        width: 90%;
        padding: 15px 0;
        ul{
            li:first-of-type{
                font-weight: 700;
                color: #000;
                font-size: 18px;
                line-height: 30px;
            }
            li:nth-child(2n){
                font-weight: 300;
                font-size: 16px;
                color: #707070;
                input{
                    border: none;
                    border-bottom: 1px dashed #707070;
                    background-color: transparent;
                }
            }
        }
    }
    .selectHotel{
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li{
                line-height: 30px;
            }
        }
    }
    .checkInOut{
        display: flex;
        justify-content: space-between;
        ul{
            width: calc(50% - 20px);
            li{
                width: 100%;
                input{
                    width: 100%;
                }
            }
        }
    }
    .numberOfGuest{
        display: flex;
        justify-content: space-between;
        ul{
            width: calc(25% - 20px);
            li{
                width: 100%;
                input{
                    width: 100%;
                }
            }
        }
    }
    .btns{
        display: flex;
        justify-content: center;
    }
}
// booking

div.bnr{
    margin:0;
    background: linear-gradient(90deg, rgba(248, 247, 247, 0.5), rgba(235, 233, 233, 0.5), rgba(248, 247, 247, 0.5));
    background-size: 100% 70%;
    background-position: center;
    background-repeat: no-repeat;
    section{
        display: flex;
        justify-content: center;
        row-gap: 20px;
        margin-top: 0;
        .bGroup{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            button{
                width: auto;
                height: 40px;
                padding: 5px 20px;
                margin: 5px;
                border-radius: 40px;
                border: 0;
                color: #707070;
                background-color: #fff;
                box-shadow: 0 3px 7px rgba(0,0,0,0.05);
            }
            button:hover{
                box-shadow: 0 0 4px rgba(0,0,0,0.3);
                color: #000;
            }
        }
    }
}
// bnr

div.ct1{
    header{
        div.btns{
            width: 320px;
            border-bottom: 1px solid #000000;
            line-height: 20px;
            text-align: right;
            display: flex;
            position: relative;
            margin-top: 20px;
            cursor: pointer;
            &::after{
                display: block;
                content: '';
                width: 17px; height: 17px;
                position: absolute;
                right: -8px;
                transform-origin: center;
                transform: rotate(43deg);
                border-bottom: 1px solid #000000;
            }
        }
        div.btns:hover{
            padding-left: 225px;
            transition: all 0.4s;
        }
    }
    section{
        .ovgrid{
            width: calc((100vw - 1080px) / 2 + 100%);
            overflow: hidden;
        }
        .artgroup{
            width: calc(270px * 8);
            display: flex;
            position: relative;
        }
        article{
            width: 250px;
            height: 400px;
            margin: 0 10px;
            position: relative;
            
            .texts {
                width: 100%; height: 0;
                background-color: rgba(255, 255, 255, 0.8);
                transition: all 0.4s;
                position: absolute;
                right: 0; bottom: -60px;
                text-align: right;
                padding: 0 15px;
                padding-top: 40px;

                h4 {
                    font-family:'Noto Serif';
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 30px;
                }

                h5 {
                    font-size: 14px;
                    font-family: 'Noto Sans KR', sans-serif;
                    font-weight: 500;
                    line-height: 20px;
                    margin-top: 20px;
                }

                h6 {
                    color: #707070;
                    font-size: 14px;
                    font-family: 'Noto Sans KR', sans-serif;
                    font-weight: 300;
                    margin-bottom: 10px;
                }

                p {
                    padding-top: 60px;
                }
            }

            &:hover .texts {
                width: 100%;
                height: 100%;
                border-radius: 80px 0 0 0;
                bottom: 0;
            }
        }
        @for $i from 1 through 8{
            .i#{$i}{
                background-image : url(../img/ct1.img#{$i}.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100%;
            }
        }
    }
}
// ct1 - Go to offers
div.ct2{
    section{
        margin-top: 0;
        display: flex;
        header{
            width: 25%;
            padding-top: 80px;
            h3:first-of-type{
                font-size: 80px;
                line-height: 90px;
            }
            h3:last-of-type{
                display: none;
            }
            .btns{
                display: flex;
                justify-content: flex-end;
                margin: 40px 20px 0 0 ;
                button{
                    background-color: #000;
                    width: 40px; height: 40px;
                    padding: 0;
                    margin-left: 10px;
                    transition: all 0.3s;
                    &.btPrev{
                        background-image: url(../img/btPrev.svg);
                        background-size: 24px 24px;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                    &.btNext{
                        background-image: url(../img/btNext.svg);
                        background-size: 24px 24px;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                    &:hover{
                        background-color: #0065AF;
                    }
                }
            }
        }
        .artview{
            width: 75%;
            overflow: hidden;
            .artgroup{
                width: calc(100% / 9 * 11);
                display: flex;
                position: relative;
                left: 0;
                article{
                    width: calc(100% / 11);
                    height: 480px;
                    font-size: 18px;
                    color: #fff;
                    transition: width 0.4s;
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    background-color: rgba(0,0,0,0.8);
                    background-blend-mode: color;
                    border-right: 10px solid #fff;
                    position: relative;
                    transition: all 0.3s;
                    &:last-child{
                        border-right: none;
                    }
                    .topText{
                        position: absolute;
                        top: 20px; left: 100px;
                        h6{
                            font-family:'Noto Serif KR', serif;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            position: relative;
                            left: -80px;
                        }
                    }
                    .texts{
                        position: absolute;
                        bottom: 20px; right: 10px;
                        width: 100%;
                        padding: 0 30px;
                        text-align: right;
                        h4{
                            font-family: 'Noto Serif KR', serif;
                            font-weight: 700;
                            font-size: 48px;
                            line-height: 40px;
                            color: #fff;
                            display: none;
                        }
                        h5{
                            color: #fff;
                            padding-left: 10px;
                            display: none;
                            font-weight: 300;
                        }
                    }
                }
                .selected{
                    .texts{
                        h6{
                            left: 0;
                        }
                        h4{
                            display: block;
                        }
                        h5{
                            display: block;
                        }
                    }
                }
                @for $n from 1 to 7 {
                    .i#{$n}{
                        background-image: url('../img/ct2.img#{$n}.jpg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }
                }
                .selected{
                    width: calc(100% / 11 * 6);
                    background-color: rgba(0,0,0,0.2);
                    background-blend-mode: color;
                }
            }
        }
    }
}
// ct2 - Exploring Shilla

div.ct3{
    header{
        position: relative;
        padding: 0 40px;
        padding-bottom: 40px;
        &::before{
            display: block; content: '';
            width: calc((100vw - 1080px) / 2 + 100%);
            min-width: calc(100% + 30px);
            height: 250px;
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;
            background-color: #fff;
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        }
        menu{
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            row-gap: 20px;
            button{
                margin-right: 20px;
                background-color: #fff;
                border: 1px solid #707070;
                color: #707070;
                font-weight: 300;
            }
        }
    }
}
// ct3 - Shilla Rewards

div.ct4{
    section{
        display: flex;
        justify-content: space-around;
        .imgView{
            width: calc(50% - 20px);
            position: relative;
            height: 300px;
            overflow: hidden;
            box-shadow: 0 3px 10px rgba(0,0,0,0.3);
            .image{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                background-position: center;
                background-size: cover;
                div.text{
                    h4{
                        width: 100%;
                        line-height: 40px;
                        text-align: center;
                        font-weight: 300;
                        font-size: 36px;
                        color: #fff;
                        text-shadow: 0 1px 1px rgba(0,0,0,0.3);
                    }
                    div.btns{
                        width: 200px;
                        color: #fff;
                        border-bottom: 1px solid #fff;
                        line-height: 20px;
                        text-align: right;
                        display: flex;
                        position: relative;
                        margin-top: 20px;
                        cursor: pointer;
                        &::after{
                            display: block;
                            content: '';
                            width: 17px; height: 17px;
                            position: absolute;
                            right: -8px;
                            transform-origin: center;
                            transform: rotate(43deg);
                            border-bottom: 1px solid #fff;
                        }
                    }
                    div.btns:hover{
                        padding-left: 100px;
                        transition: all 0.4s;
                    }
                }
            }
            @for $n from 1 to 5 {
                .i#{$n}{
                    background-image: url('../img/ct4.img#{$n}.jpg');
                }
            }
        }
        .artgroup{
            width: calc(50% - 20px);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 20px;
            article{
                width: calc(50% - 10px);
                height: 140px;
                box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
                display: flex;
                justify-content: center; align-items: center;
                text-align: center;
                transition: all 0.3;
                cursor: pointer;
                &:hover{
                    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
                }
                h4{
                    font-variant: capitalize;
                    font-weight: 300;
                }
                p{
                    font-family: 'Noto Sans KR', sans-serif;
                }
            }
        }
    }
}
// ct4 - Dining

div.ct5{
    header{
        p{
            padding-left: 10px;
        }
    }
    &>section{
        display: flex;
        align-items: flex-start;
        margin-top: 20px;
        .imgInfo{
            width: 25%;
            padding: 0 20px;
            height: 320px;
            .textGroup{
                position: relative;
                height: 230px;
                .texts{
                    position: absolute;
                    background-color: #fff;
                    h4{
                        font-family: 'Noto Sans KR', sans-serif;
                        font-size: 18px;
                        line-height: 30px;
                        font-weight: 400;
                        height: 90px;
                        span{
                            font-size: 24px;
                        }
                    }
                    p{
                        line-height: 20px;
                        font-weight: 300;
                        height: 120px;
                        margin-top: 30px;
                        overflow: hidden;
                    }
                }
            }
            .btnGroup{
                display: flex;
                justify-content: space-between;
                margin-top: 50px;
                .more{
                    height: 40px;
                    padding: 0 30px;
                    border: 1px solid #707070;
                    background-color: transparent;
                    border-radius: 40px;
                    color: #707070;
                }
                .btns{
                    display: flex;
                    &:last-child{
                        margin: 0;
                    }
                    button{
                        margin: 0 0 0 10px;
                        padding: 0;
                        font-size: 24px;
                        text-align: center;
                        line-height: 40px;
                        background-color: #000;
                        border: 0;
                        width: 40px; height: 40px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 24px; height: 24px;
                        }
                        
                    }
                }
            }
        }
        .imgWrap{
            width: 75%;
            .ovgrid{
                width: calc((100vw - 1080px) / 2 + 100%);
                min-width: calc(100% + 20px);
                overflow: hidden;
            }
            .imgGroup{
                width: 2250px;
                height: 320px;
                display: flex;
                justify-content: space-around;
                align-items: flex-end;
                position: relative;
                left: -270px;
                .image{
                    width: 250px; height: 240px;
                    background-color: #999;
                    font-size: 48px;
                    line-height: 60px;
                    background-position: center;
                    background-size: cover;
                    transition: all 0.4s;
                }
                @for $n from 1 to 9 {
                    .i#{$n}{
                        background-image: url('../img/ct5.img#{$n}.jpg');
                    }
                }
                .big{
                    width: 340px; height: 320px;
                }
            }
        }
    }
}
// ct5 - Trip to Shilla