div.hdrWrap{
    padding: 20px 0;
    header{
        width: 90%;
        max-width: 1080px;
        height: 40px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        h1{
            position: absolute;
            width: 40px;
            margin: auto;
            left: 0; right: 0;
            line-height: 40px;
        }
        .bars{
            width: 40px; line-height: 40px;
            background-color: #333;
        }
        .srch{
            width: 40px; line-height: 40px;
            background-color: #000;
        }
    }
}
div.navWrap{
    padding: 40px 0;
    background-color: #555;
    display: none;
    .nav{
        text-align: center;
        li{
            padding: 5px 0;
        }
    }
}