div.content{
    section{
        margin-top:0;
        outline: 2px solid black;
        position: relative;
        overflow: hidden;
        .imgGroup{
            width: 400%;
            display: flex;
            position: relative;
            left: 0;
            .image{
                width: 25%;
                height: 480px;
                line-height: 480px;
                text-align: center;
            }
            .i1{background-color: #fc0;}
            .i2{background-color: #f90;}
            .i3{background-color: #f60;}
            .i4{background-color: #99f;}
        }
        .btns{
            position: absolute;
            margin: auto;
            width: 90%; left: 0; right: 0;
            height: 80px; top:0; bottom:0;
            display: flex;
            justify-content: space-between;
            // 가운데정렬 공식
            button{
                width: 80px;
                height: 80px;
                background-color: #ccc;
            }
        }
        .pageNum{
            position: absolute;
            top: 20px; right: 20px;
            font-size: 24px;
        }
    }
}